@if(showInfo&&false){
<div class="flex justify-center item-center" style="background-color: rgb(30, 109, 131);padding: 5px 10px;">
  現在Googleの障害でgemini、claude系が使えません。gpt-4oかo1をご利用ください。
  <mat-icon class="cursor-pointer absolute right-3" (click)="showInfo=false">close</mat-icon>
</div>
}

@if(selectedThreadGroup){
<div class="flex relative w-full h-0 flex-grow">
  <div class="mimi" (click)="showThreadList=!showThreadList" [ngStyle]="{left: showThreadList?'202px':'6px'}">
    <mat-icon
      [ngStyle]="{transform: showThreadList?'translate(0, 0) rotate(0deg)':'translate(7px, 6px) rotate(-180deg)'}">first_page</mat-icon>
  </div>
  <!-- スレッドリスト -->
  <div class="h-full w-52 pt-0 overflow-hidden left-pane relative" [ngStyle]="{width: showThreadList?'208px':'8px'}">
    <!-- スレッドリストを閉じるときに横幅が狭まるが、中身は狭めないようにするために一層設けておく -->
    <div class="h-full w-52 overflow-hidden relative flex flex-col">
      <app-app-menu class="p-4"></app-app-menu>
      <div class="project-title" [title]="selectedProject.label">
        <label for="projectMenuTrigger" class="cursor-pointer gradient-text">{{selectedProject.label}}</label>
        <button id="projectMenuTrigger" [matMenuTriggerFor]="projectMenu"></button>
      </div>
      <mat-menu #projectMenu="matMenu" xPosition="before" [overlapTrigger]="false">
        @for(team of teamForViewList; track team.id) {
        <div class="gradient-text pl-3">{{team.label}}</div>
        @for(project of team.projects; track project.id) {
        <a mat-menu-item [routerLink]="['/chat', project.id, 'new-thread']">
          {{project.label}}
            </a>
        }
        @if(team !== teamForViewList[teamForViewList.length-1]){<mat-divider></mat-divider>}
        }
      </mat-menu>
      @if(selectedTeam.teamType!=='Alone'){
      <div class="share-tag">Share:{{selectedTeam.label}}</div>
      }
      @if(selectedThreadGroup.id.startsWith('dummy-')) {
      <a class="add-thread mb-5 bg-inherit ml-2" matTooltip="Create new thread" (click)="clear()">
        <mat-icon class="mr-3">add_circle</mat-icon>
        <div>新規チャット</div>
      </a>
      } @else {
      <a class="add-thread mb-5 bg-inherit ml-2" matTooltip="Create new thread" (click)="clear()"
        [routerLink]="['/chat', selectedProject.id, 'new-thread']">
        <mat-icon class="mr-3">add_circle</mat-icon>
        <div>新規チャット</div>
      </a>
      }
      <mat-radio-group color="primary" aria-label="sort type" [(ngModel)]="sortType" class="relative bottom-3"
        (change)="threadGroupList=sortThreadGroup(threadGroupList)">
        <mat-radio-button [value]="1">時刻順</mat-radio-button>
        <mat-radio-button [value]="2">名前順</mat-radio-button>
      </mat-radio-group>
      <!-- @for (threadGroup of threadGroupList; track threadGroup.id) {
            <div class="custom-scroll custom-scroll--thin h-full relative">
                <div class="relative flex items-center justify-between" style="border-bottom: 1px solid;">
                    実体の場合はこんな囲い方してた。
                </div>
            </div>
            } -->
      <div class="relative h-0 w-full grow">
        <cdk-virtual-scroll-viewport itemSize="35" class="custom-scroll custom-scroll--thin h-full"
          style="height:calc(100% - 70px);">
          <div *cdkVirtualFor="let threadGroup of threadGroupList;let $index = index;"
            class="relative flex items-center justify-between thread-group"
            [ngClass]="{'selected':threadGroup.id===selectedThreadGroup.id}">

            @if (threadGroup.id === editNameThreadId) {
            <input [(ngModel)]="threadGroup.title" name="thread-title-{{$index}}" id="thread-title-{{$index}}"
              class="h-7 m-1 pl-2 text-[#303030]" (change)="renameThreadGroup($event, threadGroup, false, $index)"
              (blur)="editNameThreadId=''" />
            } @else {
            <a class="cursor-pointer whitespace-nowrap overflow-hidden overflow-ellipsis grow unstyled-link"
              style="padding:5px 10px;height: 35px;min-width: 0;width: 1px;"
              [routerLink]="['/chat', selectedProject.id, threadGroup.id]" [title]="threadGroup.title">
              {{threadGroup.title}}
            </a>
            }
            <div>
              @if(isCacheLive(threadGroup)){
              <mat-icon
                matTooltip="コンテキストキャッシュ有効 expire:{{threadGroup.threadList[0].inDto.args.cachedContent?.expireTime|date:'YYYY-MM-dd HH:mm:ss'}}">cached</mat-icon>
              }
              <button mat-icon-button [matMenuTriggerFor]="threadMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <mat-menu #threadMenu="matMenu">
              <button mat-menu-item (click)="renameThreadGroup($event, threadGroup, true, $index)">
                <mat-icon>edit</mat-icon>
                <span>名前変更</span>
              </button>
              <button mat-menu-item (click)="cloneThreadGroup($event, threadGroup.id)">
                <mat-icon>file_copy</mat-icon>コピー
              </button>
              @if(projectList.length>1){
              <button mat-menu-item [matMenuTriggerFor]="sendToProjesTemplate">
                <mat-icon>move_item</mat-icon>送る
              </button>
              }
              <!--
                        <button mat-menu-item (click)="duplicate($event, thread)">
                            <mat-icon>file_copy</mat-icon>
                            <span>複製</span>
                        </button>
                        <button mat-menu-item (click)="export($index)">
                            <mat-icon>download</mat-icon>
                            <span>エクスポート</span>
                        </button>
                        -->
              <button mat-menu-item (click)="contentsDownload($event,$index, threadGroup)">
                <mat-icon>folder_zip</mat-icon>
                <span>コードブロックダウンロード</span>
              </button>
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="removeThreadGroup($event,$index, threadGroup)">
                <mat-icon style="color: #FF6666">close</mat-icon>
                <span style="color: #FF6666">削除</span>
              </button>
            </mat-menu>
            <mat-menu #sendToProjesTemplate="matMenu">
              @for(team of teamForViewList; track team.id) {
              <div class="gradient-text pl-3">{{team.label}}</div>
              @for(project of projectList;track project.id){
              @if(project!==selectedProject && project.teamId===team.id){
              <button mat-menu-item (click)="sendThreadToProject(project, threadGroup)">{{project.label}}</button>
              }
              }
              @if(team !== teamForViewList[teamForViewList.length-1]){<mat-divider></mat-divider>}
              }
            </mat-menu>

          </div>
        </cdk-virtual-scroll-viewport>

        @if (isThreadGroupLoading){
        <div class="loading-cover loading-cover--sub" style="z-index: 1;">
          <mat-spinner></mat-spinner>
        </div>
        }
      </div>
      <!-- <button (click)="export(-1)">export all</button> -->
    </div>
  </div>

  <div class="drop-zone relative" appFileDrop (filesDropped)="onFilesDropped($event)">
    <div class="w-full flex items-center justify-between gap-5" style="z-index: 2;">
      <div style="min-width: 0;flex-grow: 1;"></div>
      <div class="command-dock" style="line-height: 0;">
        <div class="grid-layout mr-2">
          <div class="grid-label">Tokens : </div>
          <div class="grid-item">
            @if(tokenObjSummary.totalTokens ==-1){ wait.. } @else { {{tokenObjSummary.totalTokens||0|number}} }
          </div> |
          <!-- <div class="grid-label">Chars :</div>
          <div class="grid-item">
            @if(tokenObjSummary.totalTokens ==-1){ wait.. } @else {
            {{(this.tokenObjSummary.text + this.tokenObjSummary.image + this.tokenObjSummary.audio +
            this.tokenObjSummary.video) || this.tokenObjSummary.totalBillableCharacters |number:'1.0-0'}}
            }
          </div> | -->
          <div class="grid-label">Cost :</div>
          <div class="grid-item">
            @if(tokenObjSummary.totalTokens ==-1){ wait.. } @else { $ {{cost|number:'1.2-2'}} }
          </div> |
        </div>
        <button mat-icon-button color="primary" (click)="userService.toggleChatTabLayout().subscribe()"
          [disabled]="selectedThreadGroup.threadList.length===1" title="チャットパネルをタブ化">
          <mat-icon>@if(userService.chatTabLayout==='tabs') { view_column } @else { tab }</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="userService.toggleChatLayout().subscribe()"
          title="チャットパネルのレイアウト">
          <mat-icon>@if(userService.chatLayout==='grid') { dashboard } @else { grid_view }</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="toggleAllExpandCollapse()" title="チャットパネルの開閉">
          <mat-icon>@if (allExpandCollapseFlag) { unfold_less } @else { unfold_more }</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openSaveAsTemplateDialog()" title="名前を付けて保存">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openModelSetting()" title="設定">
          <mat-icon>settings</mat-icon>
        </button>
        <div class="mr-10"></div>

      </div>
    </div>

    <!-- プリセット系 -->
    @if(messageGroupIdListMas[selectedThreadGroup.threadList[0].id]&&1>=messageGroupIdListMas[selectedThreadGroup.threadList[0].id].length){
    <div class="absolute t-0 l-0 w-full flex justify-center items-center flex-col "
      style="z-index: 2;top: calc(50vh);transform: translate(0, -50%);">
      <h1 style="font-size: 1.78rem;">スレッド数</h1>
      <div class="w-full flex justify-center items-center gap-5">
        @for(index of [1, 2, 3, 4];track $index){
        <div class="course-panel" style="font-size: 24px;" (click)="loadPreset(index)"
          [ngClass]="{selected:selectedThreadGroup.threadList.length===index}">{{index}}</div>
        }
      </div>
      <h1 style="font-size: 1.78rem;margin-top: 40px;">モード</h1>
      <div class="w-full flex justify-center items-center gap-5 flex-wrap">
        @for(preset of chatService.presetDefs;track $index){
        <div class="course-panel text-center" (click)="selectPreset(preset)" [innerHTML]="preset.label"
          [ngClass]="{selected:presetLabel===preset.label}" style="line-height: 1.5;"></div>
        }
      </div>
      <!-- 個人用モード -->
      <div class="w-full flex justify-center items-center gap-5 flex-wrap mt-5">
        @for (item of templateThreadGroupList.slice().reverse(); track $index) {
        <div class="relative">
          <button class="course-panel" (click)="selectTemplateThreadGroup(item)"
            [matTooltip]="item.description||item.title" [ngClass]="{selected:presetLabel===item.id}"
            style="line-height: 1.5;">
            {{item.title}}
          </button>
          <button mat-icon-button class="course-panel-close" [matMenuTriggerFor]="templateMenu">
            <mat-icon class="small-icon">more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #templateMenu="matMenu">
          <button mat-menu-item (click)="editTemplateThreadGroup($event, item)">
            <mat-icon>edit</mat-icon>
            <span>名前変更</span>
          </button>
          <button mat-menu-item (click)="cloneThreadGroup($event, item.id)">
            <mat-icon>file_copy</mat-icon>
            <span>コピー</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="sendTemplateToProjesTemplate">
            <mat-icon>move_item</mat-icon>
            <span>送る</span>
          </button>
          @if(this.presetLabel===item.id){
          <button mat-menu-item (click)="saveAsTemplate(item.title, item.description, false, item.id)">
            <mat-icon>save</mat-icon>
            <span>現在の設定で上書き</span>
          </button>
          }
          <!-- <button mat-menu-item (click)="editTemplateThreadGroup($event, item)" title="現在のチャット設定をこのモードに上書き保存します">
            <mat-icon>save</mat-icon>
            <span>上書き</span>
          </button> -->
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="removeTemplateThreadGroup($event, item)">
            <mat-icon style="color: #FF6666">close</mat-icon>
            <span style="color: #FF6666">削除</span>
          </button>
        </mat-menu>

        <mat-menu #sendTemplateToProjesTemplate="matMenu">
          @for(team of teamForViewList; track team.id) {
          <div class="gradient-text pl-3">{{team.label}}</div>
          @for(project of projectList;track project.id){
          @if(project!==selectedProject && project.teamId===team.id){
          <button mat-menu-item (click)="sendThreadToProject(project, item)">{{project.label}}</button>
          }
          }
          @if(team !== teamForViewList[teamForViewList.length-1]){<mat-divider></mat-divider>}
          }
        </mat-menu>
        }
      </div>

      <div class="text-sm mt-10 text-[#999]">スレッド数／定型文はオプションなので選ばなくてもよい。</div>
    </div>
    }
    <!-- チャットエリア -->

    @if(userService.chatTabLayout==='tabs') {
    <!-- タブ表示 -->
    <mat-tab-group [ngClass]="{isSingleThread: selectedThreadGroup.threadList.length===1}"
      (selectedIndexChange)="restoreScrollPosition($event)" [selectedIndex]="tabIndex" class="mt-2">
      @for(thread of selectedThreadGroup.threadList;track $index;let tIndex=$index) {
      <mat-tab label="{{thread.inDto.args.model}}">
        <div style="height: calc(100vh - 100px);" class="flex flex-col gap-1 w-full">
          @if(messageGroupIdListMas[thread.id]; as messageGroupIdList){
          @if(messageGroupIdList[0]; as messageGroupId){
          <div class="pt-2 px-2 w-full hidden-custom-scroll">
            @if(messageService.messageGroupMas[messageGroupIdList[0]]; as messageGroup) {
            <!-- システムプロンプトは唯一履歴無し。。というのが気になる。 -->
            <app-chat-panel-system class="top-0" style="z-index:3;" [messageGroup]="messageGroup"
              [selectedIndex]="messageGroup.selectedIndex" [bitCounter]="messageGroupBitCounter[messageGroup.id]"
              [thread]="thread" [removable]="selectedThreadGroup.threadList.length>1" [layout]="userService.chatLayout"
              (edit)="editChat($event)" (removeThread)="removeThread($event)" (modelChange)="modelCheck([$event])"
              (threadChange)="editSystem($event)" [tokenObject]="tokenObjList[tIndex]">
            </app-chat-panel-system>
            }
          </div>
          }

          }

          <div #textBodyElem (scroll)="saveScrollPosition($index)"
            class="custom-scroll h-0 w-full px-2 pb-52 relative flex flex-col gap-1 grow" style="overflow-y: scroll;">

            @for(messageGroupId of messageGroupIdListMas[thread.id];track $index;let mIndex=$index){
            @if(messageService.messageGroupMas[messageGroupId]; as messageGroup) {

            <!-- {{messageGroup.id}} -->
            @if(messageGroup.role==='system') {
            } @else if(['assistant', 'user'].includes(messageGroup.role)) {
            <div #anchor class="anchor"
              [ngClass]="{'anchor-loading-tabs':hasWaitingOrLoadingMessages('tabs',messageGroup)}">
              <!-- スクロール用のただのアンカー -->
              <app-chat-panel-message #chatPanelList [messageGroup]="messageGroup" [thread]="thread"
                [selectedIndex]="messageGroup.selectedIndex" [bitCounter]="messageGroupBitCounter[messageGroup.id]"
                [layout]="userService.chatLayout" (edit)="editChat($event)" [index]="$index"
                (toolExec)="toolExec($event)" (removeContent)="removeContent($event)"
                (ready)="onChatPanelReady(messageGroup)" (removeMessage)="removeMessage($event)"
                (remove)="removeMessageGroup($event)" (cancel)="cancelGenerating($event)">
              </app-chat-panel-message>

              <!-- 末尾だったら追加可能にする -->
              @if(!messageService.nextMessageGroupId[messageGroupId]) {
              <div class="flex items-center justify-between">
                @if(!['Waiting','Loading'].includes(messageGroup.messages[0].status)){
                @if(messageGroup.role==='user'){
                <button mat-icon-button class="pl-6 sgl-btn" color="primary"
                  (click)="send('messageGroup', [messageGroupId]).subscribe()">
                  <mat-icon>send</mat-icon>
                </button>
                } @else if(messageGroup.role==='assistant'){
                <!-- これはまだちょっと難しい -->
                <button mat-icon-button class="pl-6 sgl-btn" color="primary"
                  (click)="appendMessageGroup(thread.id, messageGroupId)">
                  <mat-icon>add_circle</mat-icon>
                </button>
                } @else {
                <div><!-- レイアウトがズレないように空オブジェクトを入れておく --></div>
                }
                } @else {
                <div><!-- レイアウトがズレないように空オブジェクトを入れておく --></div>
                }
                <!-- 
                @if(tokenObjList[tIndex]){
                <div class="text-xs text-[#999]">
                  {{tokenObjList[tIndex].totalTokens|number:'1.0-0'}} /
                  {{chatService.modelMap[selectedThreadGroup.threadList[tIndex].inDto.args.model].maxInputTokens|number:'1.0-0'}}
                </div>
                }
                -->
              </div>

              }

            </div>
            }

            }

            <!-- メッセージの後ろのグループの選択肢 -->
            @if(messageService.nextMessageGroupId[messageGroupId]) {
            <ng-container
              *ngTemplateOutlet="messageSelectorTemplate; context: { $implicit: messageService.messageGroupMas[messageGroupId] }">
            </ng-container>
            }

            }
          </div>
        </div>
      </mat-tab>
      }
    </mat-tab-group>
    } @else {
    <!-- リスト表示 -->

    <div class="flex gap-0.5 px-2 w-full hidden-custom-scroll mt-2" style="z-index: 3;">
      @for(thread of selectedThreadGroup.threadList;track $index;let tIndex=$index) {
      <div class="w-0 flex-1">
        @if(messageGroupIdListMas[thread.id]; as messageGroupIdList) {
        @if(messageGroupIdList[0]; as messageGroupId) {
        @if(messageService.messageGroupMas[messageGroupId]; as messageGroup) {
        <!-- システムプロンプトは唯一履歴無し。。というのが気になる。 -->
        <app-chat-panel-system class="w-0 flex-1" [messageGroup]="messageGroup"
          [bitCounter]="messageGroupBitCounter[messageGroup.id]" [thread]="thread"
          [removable]="selectedThreadGroup.threadList.length>1" [layout]="userService.chatLayout"
          (edit)="editChat($event)" (removeThread)="removeThread($event)" (modelChange)="modelCheck([$event])"
          (threadChange)="editSystem($event)" (fileSelectionUpdateEmitter)="onChange()"
          (expanded)="expanded($event, 0, tIndex, messageGroup)" [tokenObject]="tokenObjList[tIndex]">
        </app-chat-panel-system>
        }
        }
        }
      </div>

      @let pIndex=0;
      @if(true
      && selectedThreadGroup
      && selectedThreadGroup.threadList
      && selectedThreadGroup.threadList.length>tIndex+1
      && selectedThreadGroup.threadList[tIndex]
      && selectedThreadGroup.threadList[tIndex+1]
      && messageGroupIdListMas[selectedThreadGroup.threadList[tIndex].id]
      && messageGroupIdListMas[selectedThreadGroup.threadList[tIndex].id][pIndex]
      && messageGroupIdListMas[selectedThreadGroup.threadList[tIndex+1].id]
      && messageGroupIdListMas[selectedThreadGroup.threadList[tIndex+1].id][pIndex]
      ) {
      <button mat-icon-button class="link-chain" [ngClass]="{'off': !linkChain[pIndex]}"
        (click)="linkChain[pIndex]=!linkChain[pIndex]">
        <mat-icon>link</mat-icon>
      </button>
      }

      }
    </div>

    <div #textBodyElem class="custom-scroll w-full flex-1 h-0 px-2 py-0 flex flex-col gap-1 relative"
      style="overflow-y: scroll;">
      @for(index of indexList; track $index;let pIndex=$index) {
      <div #anchor class="anchor flex gap-0.5 w-full min-w-full max-w-full relative"
        [ngClass]="{'anchor-loading-list':indexList.length-1===pIndex && hasWaitingOrLoadingMessages('list', undefined)}">

        @for(thread of selectedThreadGroup.threadList;track $index;let tIndex=$index) {
        <div class="w-0 flex-grow flex flex-col justify-between relative">
          @if(messageGroupIdListMas[thread.id]) {
          @if(messageGroupIdListMas[thread.id][index]; as messageGroupId) {
          @if(messageService.messageGroupMas[messageGroupId]; as messageGroup) {

          <!-- {{messageGroup.id}} -->
          @if(messageGroup.role==='system') {
          } @else if(['assistant', 'user'].includes(messageGroup.role)) {
          <div>
            <app-chat-panel-message [messageGroup]="messageGroup" [bitCounter]="messageGroupBitCounter[messageGroup.id]"
              [thread]="thread" [layout]="userService.chatLayout" (edit)="editChat($event)" [index]="$index"
              (removeContent)="removeContent($event)" (removeMessage)="removeMessage($event)"
              (remove)="removeMessageGroup($event)" (cancel)="cancelGenerating($event)" (toolExec)="toolExec($event)"
              (fileSelectionUpdateEmitter)="onChange()" (expanded)="expanded($event, pIndex, tIndex, messageGroup)">
            </app-chat-panel-message>

            <!-- 末尾だったら追加可能にする -->
            @if(!messageService.nextMessageGroupId[messageGroupId]) {
            <div class="flex items-center justify-between">
              @if(!['Waiting','Loading'].includes(messageGroup.messages[0].status)){
            @if(messageService.messageGroupMas[messageGroupId].role==='user'){
            <button mat-icon-button class="pl-6 sgl-btn" color="primary"
              (click)="send('messageGroup', [messageGroupId]).subscribe()">
              <mat-icon>send</mat-icon>
            </button>
            } @else if(messageService.messageGroupMas[messageGroupId].role==='assistant'){
            <button mat-icon-button class="pl-6 sgl-btn" color="primary"
              (click)="appendMessageGroup(thread.id, messageGroupId)">
              <mat-icon>add_circle</mat-icon>
            </button>
            } @else {
              <div><!-- レイアウトがズレないように空オブジェクトを入れておく --></div>
            }
              } @else {
              <div><!-- レイアウトがズレないように空オブジェクトを入れておく --></div>
              }
              <!-- 
              @if(tokenObjList[tIndex]){
              <div class="text-xs text-[#999]">
                {{tokenObjList[tIndex].totalTokens|number:'1.0-0'}} /
                {{chatService.modelMap[selectedThreadGroup.threadList[tIndex].inDto.args.model].maxInputTokens|number:'1.0-0'}}
              </div>
              }
              -->
            </div>

            <div style="min-height: 200px;"></div>
            }

          </div>
          }

          }

          <!-- メッセージの後ろのグループの選択肢 -->
          @if(messageService.nextMessageGroupId[messageGroupId]) {
          <ng-container
            *ngTemplateOutlet="messageSelectorTemplate; context: { $implicit: messageService.messageGroupMas[messageGroupId] }">
          </ng-container>
          }

          }
          }
        </div>

        @if(pIndex>0
        && selectedThreadGroup
        && selectedThreadGroup.threadList
        && selectedThreadGroup.threadList.length>tIndex+1
        && selectedThreadGroup.threadList[tIndex]
        && selectedThreadGroup.threadList[tIndex+1]
        && messageGroupIdListMas[selectedThreadGroup.threadList[tIndex].id]
        && messageGroupIdListMas[selectedThreadGroup.threadList[tIndex].id][pIndex]
        && messageGroupIdListMas[selectedThreadGroup.threadList[tIndex+1].id]
        && messageGroupIdListMas[selectedThreadGroup.threadList[tIndex+1].id][pIndex]
        ) {
        <button mat-icon-button class="link-chain" [ngClass]="{'off': !linkChain[pIndex]}"
          (click)="linkChain[pIndex]=!linkChain[pIndex]">
          <mat-icon>link</mat-icon>
        </button>
        }

        }
      </div>
      }
      <!--
      @if(selectedThreadGroup && selectedThreadGroup.threadList
      &&selectedThreadGroup.threadList.length>0
      &&messageGroupIdListMas[selectedThreadGroup.threadList[0].id]
      &&messageService.messageGroupMas[messageGroupIdListMas[selectedThreadGroup.threadList[0].id].at(-1)||'']
      ){
      <div class="spacer" style="min-height: calc(100vh - 230px);"
        [ngStyle]="{'min-height': messageService.messageGroupMas[messageGroupIdListMas[selectedThreadGroup.threadList[0].id].at(-1)||''].role==='user' ? 'calc(100vh - 230px)':'200px'}">
      </div>
      }
      -->
    </div>
    }

    <!-- 入力エリア -->
    <div class="bottom">
      <!-- ファイル一覧 -->
      <div class="flex justify-start gap-3 w-full p-5 overflow-x-auto">
        @for(content of inputArea.content; track $index){
        @if(content.type==='file'){
        <app-doc-tag [content]="content" (updated)="onChange()"
          (remove)="inputArea.content.splice(inputArea.content.indexOf(content), 1)"></app-doc-tag>
        }
        }
      </div>
      <!-- メッセージ入力 -->
      <div class="chat-input">
        @for(content of inputArea.content; track $index){
        @if(content.type==='text'){
        <textarea (keydown)="onKeyDown($event)" #textAreaElem
          [placeholder]="appFileDrop()?.isHovered?'ファイルドロップ':(placeholder||'メッセージを入力...。 Shift+Enterで改行。 '+userService.enterMode+'で送信。 Drag＆Drop、ファイル貼り付け。')"
          [(ngModel)]="content.text" (change)="onChange()"></textarea>

        @if(chatStreamSubscriptionList[selectedThreadGroup.id]){
        <!-- 中断ボタン -->
        <button mat-fab color="primary" aria-label="Cancel" matTooltip="回答を中断する" (click)="chatCancel()">
          <mat-icon>cancel</mat-icon>
        </button>
        }@else{
        <!-- 送信ボタン -->
        <!-- <button mat-fab color="primary" aria-label="Send" matTooltip="userService.enterMode"
                        [disabled]="messageClusterList.length===0 || (!content.text && messageGroupMap[messageClusterList[messageClusterList.length-1][0].messageGroupId].role!=='user') || isLock"
                        (click)="send()">
                        <mat-icon>send</mat-icon>
                    </button> -->
        <button mat-fab color="primary" aria-label="Send" [matTooltip]="userService.enterMode"
          (click)="send().subscribe()" [disabled]="isLock||(!content.text&&tailRole!=='user')"
          class="btn btn-primary"><mat-icon>send</mat-icon></button>
        }

        <!-- <button mat-fab color="primary" aria-label="Send"
                        [disabled]="(!content.text&&inDto.args.messages[inDto.args.messages.length-1].role!=='user') || isLock"
                        (click)="openFileDialog(fileInput)">
                        <mat-icon>folder_open</mat-icon>
                    </button>
                    <button mat-fab color="primary" aria-label="Send"
                        [disabled]="(!content.text&&inDto.args.messages[inDto.args.messages.length-1].role!=='user') || isLock"
                        (click)="createCache()">
                        <mat-icon>memory</mat-icon>
                    </button>
                     -->
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" [disabled]="isLock">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" #name>
          <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" multiple
            webkitdirectory directory>
          <button mat-menu-item (click)="openFileDialog(fileInput)">
            <mat-icon>attach_file</mat-icon>
            <span>ファイル添付</span>
          </button>
          <button mat-menu-item (click)="contextCacheControl(selectedThreadGroup)">
            <mat-icon>upload</mat-icon>
            <span>コンテキストキャッシュ{{isCacheLive(selectedThreadGroup)?'削除':'作成'}}</span>
          </button>
          <a mat-menu-item target="_blank" href="/ai/gemini-cost-calculator/">
            <mat-icon>question_mark</mat-icon>
            <span>コンテキストキャッシュとは？</span>
          </a>
          <button mat-menu-item (click)="openBulk()">
            <mat-icon>fast_forward</mat-icon>
            <span>一括実行</span>
          </button>
        </mat-menu>
        } @else {
        }
        }
      </div>

      <div style="position: absolute;bottom: -25px;left: 32px;color: #a9a9a9;">
        AIの回答は必ずしも正しいとは限りません。重要な情報は人の確認必須。機密情報・個人情報は入力禁止。
        <a class="" href=" ./static/release-note.html" target="_blank">ガイドライン</a>
      </div>

    </div>
  </div>
  <app-user-mark></app-user-mark>
</div>
}

<!-- 履歴選択 -->
<ng-template #messageSelectorTemplate let-messageGroup>
  @let nextMessageGroupIdList=messageService.nextMessageGroupId[messageGroup.id];
  <div class="flex items-center justify-between">
    @if(
    (nextMessageGroupIdList.length>messageGroup.selectedIndex&&nextMessageGroupIdList.length>1)||nextMessageGroupIdList.length===messageGroup.selectedIndex
    ){

    <!-- 末尾だったら追加可能にする -->
    <div class="flex items-center">
      @if (nextMessageGroupIdList.length === messageGroup.selectedIndex) {
      @if(messageService.messageGroupMas[messageGroup.id].role==='user'){
      <button mat-icon-button class="pl-6 sgl-btn absolute!" color="primary"
        (click)="send('messageGroup', [messageGroup.id]).subscribe()">
        <mat-icon>send</mat-icon>
      </button>
      } @else if(messageService.messageGroupMas[messageGroup.id].role==='assistant'){
      <button mat-icon-button class="pl-6 sgl-btn absolute!" color="primary"
        (click)="appendMessageGroup(messageGroup.threadId, messageGroup.id)">
        <mat-icon>add_circle</mat-icon>
      </button>
      }
      }
    </div>

    <div class="flex items-center mt-2" style="margin-bottom: -5px;">
      <mat-icon class="cursor-pointer" (click)="setSelect($event, messageGroup, -1)"
        [ngStyle]="{'visibility': 0 < messageGroup.selectedIndex ? 'visible' : 'hidden'}">chevron_left</mat-icon>
      <div class="text-center w-[60px]">
        @if (nextMessageGroupIdList.length === messageGroup.selectedIndex) {
        prev
        } @else {
        {{messageGroup.selectedIndex + 1}} / {{nextMessageGroupIdList.length}}
        }
      </div>
      <mat-icon class="cursor-pointer" (click)="setSelect($event, messageGroup, 1)"
        [ngStyle]="{'visibility': nextMessageGroupIdList.length > messageGroup.selectedIndex + 1 ? 'visible' : 'hidden'}">chevron_right</mat-icon>
    </div>
    }@else{<div></div>}
  </div>
</ng-template>