@use 'sass:color';
// :host {
//     position: relative;
// }

.message {
    line-height: 1.5;
    background-color: var(--plain-background);
    border-radius: 5px;
}

.message-header {
    select {
        padding: 2px 5px;
        border-radius: 4px;
        background-color: var(--plain-background);
        cursor: pointer;
        margin-left: 2px;
    }
}

.message-header-message {
    position: sticky;
    top: 0;
    transition: top 0.3s 0s linear;
    z-index: 1;
    height: 38px;
}

// stickyが少し複雑になってしまった、、
// systemは常に1番上に固定、普通のメッセージはその下にstickyするからtop52開ける。expantionを閉じてるときは52開けるけど、開いてるときは開けない（stickyされるエレメントが変わるから）。
.message {
    &.closed {
        position: sticky;
        // top: 52px;
        overflow: hidden;
    }

    &.expanded {
        overflow: unset;
    }
}

.expanded .message-header-message {
    // top: 52px;
}


.message-notediting {
    border: 1px solid var(--plain-border-color);
    padding: 2px 6px 2px;
}

.chat-input {
    display: flex;
    padding: 0;
    width: 100%;
    align-items: center;
    gap: 20px;

    textarea {
        flex-grow: 1;
        padding: 10px;
        border: 2px solid var(--plain-border-color);
        border-radius: 4px;
        /* resize: none; */
        min-height: 60px;
        /* max-height: 300px; */
        background-color: var(--plain-background);
    }
}

.system .message-title {
    font-weight: bold;
}

.message.user,
.user .message-header,
.message.user .controller-bottom {
    background-color: var(--message-background-user);

    .message-notediting {
        border: 1px solid var(--message-border-user);
    }
}

.user {
    .message-title {
        color: var(--message-color-user);
    }

    textarea {
        border-color: var(--mat-sys-primary);
    }
}

.message.assistant,
.assistant .message-header,
.message.assistant .controller-bottom {
    background-color: var(--message-background-assistant);

    .message-notediting {
        border: 1px solid var(--message-border-assistant);
        ;
    }
}

.assistant {
    .message-title {
        color: var(--message-color-assistant);
    }

    textarea {
        border-color: var(--message-color-assistant);
    }
}

.message.cached,
.message.cached .controller-bottom {
    background-color: var(--plain-background);
}

.cached {
    .message-title {
        color: #c0c0c0;
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.model-select {
    width: auto;
    padding: 10px;
    background-color: #606060;
    cursor: pointer;

    option {
        line-height: 30px;
        padding: 10px;
    }
}

.grid-panel {
    max-height: calc(100vh - 400px);
}

.flex-panel {
    max-height: auto;
}

::ng-deep {
    app-chat-panel {
        .mat-expansion-panel-body {
            padding: 0 24px 16px;
            padding: 0 12px 8px;
        }
    }
}

.controller-bottom {
    padding-right: 31px;
    justify-content: end;
    position: absolute;
    bottom: 10px;
    display: flex;
    top: auto;
    right: 0;
    border-radius: 40px;
    border: 1px solid var(--plain-border-color);
}

.controller-bottom {
    opacity: 0.1;
    transition: opacity 0.3s;
}

.controller-bottom--hide {
    bottom: 4px;
    opacity: 0;
}

.controller-bottom:hover {
    opacity: 1;
}

.tail-spinner {
    width: 20px !important;
    height: 20px !important;
}