@use 'sass:color';
// :host {
//     position: relative;
// }

.message {
    line-height: 1.5;
    background-color: #313131;
    border-radius: 5px;
}

.message-header {
    select {
        padding: 2px 5px;
        border-radius: 4px;
        background-color: #292929;
        cursor: pointer;
        margin-left: 2px;
    }
}

.message-header-message {
    position: sticky;
    top: 0;
    transition: top 0.3s 0s linear;
    z-index: 1;
}

// stickyが少し複雑になってしまった、、
// systemは常に1番上に固定、普通のメッセージはその下にstickyするからtop52開ける。expantionを閉じてるときは52開けるけど、開いてるときは開けない（stickyされるエレメントが変わるから）。
.message {
    &.closed {
        position: sticky;
        // top: 52px;
        overflow: hidden;
    }

    &.expanded {
        overflow: unset;
    }
}

.expanded .message-header-message {
    // top: 52px;
}


.message-notediting {
    border: 1px solid #444;
    padding: 2px 6px 2px;
}

.chat-input {
    display: flex;
    padding: 0;
    width: 100%;
    align-items: center;
    gap: 20px;

    textarea {
        flex-grow: 1;
        padding: 10px;
        border: 2px solid #c0c0c0;
        border-radius: 4px;
        /* resize: none; */
        min-height: 60px;
        /* max-height: 300px; */
        background-color: #303030;
    }
}

.system .message-title {
    font-weight: bold;
}

.message.user,
.user .message-header,
.message.user .controller-bottom {
    background-color: rgb(42, 50, 53);

    .message-notediting {
        border: 1px solid color.mix(white, rgb(42, 50, 53), 7%);
    }
}

.user {
    .message-title {
        color: rgb(123, 207, 230);
    }

    textarea {
        border-color: rgb(105 184 205);
    }
}

.message.assistant,
.assistant .message-header,
.message.assistant .controller-bottom {
    background-color: rgb(56, 53, 49);
    background-color: rgb(53, 49, 43);

    .message-notediting {
        border: 1px solid color.mix(white, rgb(56, 53, 49), 7%);
    }
}

.assistant {
    .message-title {
        color: #BFAE9D;
    }

    textarea {
        border-color: #BFAE9D;
    }
}

.message.cached,
.message.cached .controller-bottom {
    background-color: #313131;
}

.cached {
    .message-title {
        color: #c0c0c0;
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.model-select {
    width: auto;
    padding: 10px;
    background-color: #606060;
    cursor: pointer;

    option {
        line-height: 30px;
        padding: 10px;
    }
}

.grid-panel {
    max-height: calc(100vh - 400px);
}

.flex-panel {
    max-height: auto;
}

::ng-deep {
    app-chat-panel {
        .mat-expansion-panel-body {
            padding: 0 24px 16px;
            padding: 0 12px 8px;
        }
    }
}

.controller-bottom {
    padding-right: 31px;
    justify-content: end;
    position: absolute;
    bottom: 10px;
    display: flex;
    top: auto;
    right: 0;
    border-radius: 40px;
    border: 1px solid rgb(68, 68, 68);
}

.controller-bottom {
    opacity: 0.1;
    transition: opacity 0.3s;
}

.controller-bottom--hide {
    bottom: 4px;
    opacity: 0;
}

.controller-bottom:hover {
    opacity: 1;
}