<button mat-icon-button [matMenuTriggerFor]="appMenu" class="trigger-icon">
    <mat-icon class="gradient-text">apps</mat-icon>
</button>

<mat-menu #appMenu="matMenu">
    <a mat-menu-item [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        <span>ホーム</span>
    </a>
    <!-- <a mat-menu-item [routerLink]="['/announcements']">
        <mat-icon>campaign</mat-icon>
        <span>お知らせ管理</span>
    </a> -->
    <a mat-menu-item [routerLink]="['/chat']">
        <mat-icon>chat</mat-icon>
        <span>AIチャット</span>
    </a>
    <a mat-menu-item [routerLink]="['/mattermost']">
        <mat-icon>
            <img src="./image/mattermost-logo-white.svg">
        </mat-icon>
        <span>疑似 Mattermost</span>
    </a>
    <a mat-menu-item [routerLink]="['/box']">
        <mat-icon>
            <img src="./image/box-logo-white.svg">
        </mat-icon>
        <span>速い box</span>
    </a>

    <button mat-menu-item [matMenuTriggerFor]="gitMenu">
        <mat-icon>
            <img src="./vsc-material-icons/icons/git.svg">
        </mat-icon>
        <span>Gitリポジトリ</span>
    </button>
</mat-menu>
<mat-menu #gitMenu="matMenu">
  @for (group of curEnv.oAuthProviders; track $index) {
  @if(['gitlab', 'gitea'].includes(group.value)){
  @for (provider of group.providers; track $index) {
  <a mat-menu-item [routerLink]="['/', group.value+'-'+provider.id]">
    <mat-icon>
      <img [src]="'./image/' + group.value + '-logo.svg'" [alt]="group.label + ' logo'">
    </mat-icon>
    <span>{{ provider.label }}</span>
  </a>
  }
  }
  }
</mat-menu>
