.settings-section {
    margin: 16px 0;
}

.setting-item {
    margin: 16px 0;
    padding: 8px;
}

.setting-description {
    // color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin: 8px 0 0 0;
}

mat-divider {
    margin: 8px 0;
}