@use 'sass:color';

.login-container {
    position: relative;
    width: 550px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background: var(--plain-background);
    color: var(--plain-color);
    box-shadow: var(--plain-shadow);
    text-align: center;
}

.login-title {
    text-align: left;
}

// .login-container::before {
//     content: '';
//     border-radius: 8px;
//     background-image: url("/image/hapteec-mid.png") !important;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: 400px 400px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: -1;
//     opacity: 0.50;
//     /* 透明度を50%に設定 */
// }

.login-logo img {
    max-width: 100px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: var(--plain-color);
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--plain-border-color);
    border-radius: 4px;
    background: var(--plain-background);
    color: var(--plain-color);
}

.login-button {
    background-color: color.mix(black, rgb(105 184 205), 10%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s 0s ease;
}

.login-button:hover {
    background-color: color.mix(black, rgb(105 184 205), 10%);
}

.login-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.forgot-password {
    display: block;
    margin-top: 20px;
    // color: #0099ff;
    // text-decoration: underline;
    text-align: right;
}

.forgot-password:hover {
    opacity: 0.8;
}

.login-container .login-form .federation {
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
    box-shadow: var(--plain-shadow);
    gap: 10px;
    text-decoration: none;
    margin-top: 20px;

    img {
        height: 24px;
        width: auto;
    }

    &:hover {
        background-color: #eee;
    }

    ::ng-deep{
      .mat-content {
        justify-content: center;
      }
    }
}

/* 警告スタイル */
.warning {
    /* 背景色：薄い黄色 */
    background-color: #fff3cd;
    /* 文字色：濃い茶色 */
    color: #856404;
    /* 枠線色：薄いオレンジ */
    border: 1px solid #ffeeba;
    /* 内側の余白 */
    padding: 10px;
    /* 角を少し丸くする */
    border-radius: 4px;
    /* 文字サイズ */
    font-size: 16px;
    margin-bottom: 20px;
}

.eye {
    position: absolute;
    margin-top: 10px;
    right: 36px;
}