@if(viewModel(); as vm){
@if(vm.messageGroup.messages && vm.messageGroup.messages.length>0 && modelIdMas[vm.thread.inDto.args.model]){
<mat-expansion-panel class="message" #exPanel [expanded]="vm.messageGroup.isExpanded"
    (opened)="loadContent().subscribe()" (expandedChange)="expandedEmitter.emit($event)">
    <mat-expansion-panel-header class="message-header">
        <mat-panel-title class="message-title" style="font-weight: normal;">
            <!-- モデル選択 -->
            <!--
            <select name="model-select" class="model-select" (click)="stopPropagation($event)"
                [(ngModel)]="vm.thread.inDto.args.model" (change)="modelChange()">
                <optgroup label="モデル選択" [ngClass]="[chatService.modelList[0].tag]">
                    @for(option of chatService.modelList;track $index) {
                    <option [ngClass]="[option.tag]" [value]="option.id" [disabled]="!option.isEnable">
                        {{option.tag}}：{{option.id}}</option>
                    }
                </optgroup>
            </select>
            -->
            <div class="flex absolute top-0 left-7 gap-3">
                <div class="tip" [ngClass]="[modelIdMas[vm.thread.inDto.args.model].tag]">
                    {{modelIdMas[vm.thread.inDto.args.model].tag}}
              </div>
                @if(vm.thread.inDto.args.tool_choice!=='none'){
              @for(rec of toolGroupCheckMasRecord(toolGroupCheckMas);track $index){
              @if(rec.checked){
              <div class="tooltip-small-tag relative">
                    <img [src]="'./image/'+rec.groupName+'-logo.svg'" alt="icon" class=""
                        style="width: 14px;height: 14px;">
                <!-- <div>{{rec.label}}</div> -->
              </div>
              }
              }
              }
          </div>
            <select name="model-select" class="model-select" (click)="stopPropagation($event)"
                [(ngModel)]="vm.thread.inDto.args.model" (change)="modelChange()">
                @for(modelGroupId of modelGroupIdList;track $index){
                <optgroup [ngClass]="[modelGroupId]" [label]="modelGroupId">
                    @for(option of modelGroupMas[modelGroupId];track $index) {
                    <option [ngClass]="modelGroupId==='古い'?'古い':'速い'" [value]="option.id" [disabled]="!option.isEnable">
                        {{option.id}}
                    </option>
                    }
                </optgroup>
                }
            </select>
            @if(vm.thread.inDto.args.model; as model){
            @if(chatService.modelMap[model].isGSearch){
            <div class="flex items-center" style="width: 150px;"
                [matTooltip]="chatService.modelMap[model].isGSearch?'Google検索の結果をもとに回答します。直近情報（バージョン系の話）やニュースやローカルな話（天気予報）等について会話する際はONにしてください。':'Gemini以外では使用できません。'">
                <img src="./image/google-icon.svg" alt="Googleアイコン" class="w-8 h-8" style="min-width: 30px;"
                    [ngStyle]="{opacity: vm.thread.inDto.args.isGoogleSearch ? 1 : 0.3}"
                    (click)="vm.thread.inDto.args.isGoogleSearch=!vm.thread.inDto.args.isGoogleSearch;stopPropagation($event);">
            </div>
            }
            }
        </mat-panel-title>
        <mat-panel-description>
            <div class="truncate">{{vm.messageGroup.messages[0].label}}</div>
        </mat-panel-description>
        <div class="grow"></div>
        @if(tokenObject(); as tokenObject){
        <div class="text-xs text-[#999] flex items-center mr-4">
            {{tokenObject.totalTokens|number:'1.0-0'}} /
            {{chatService.modelMap[vm.thread.inDto.args.model].maxInputTokens|number:'1.0-0'}} |
            ${{tokenObject.cost|number:'1.2-2'}}
        </div>
        }
        <div class="right-0 top-0 flex gap-2">
            <!-- <div style="right: 0;top: 0;display: flex;gap: 10px;padding: 10px;"> -->
            <!--
            <button mat-icon-button class="invisible">
                <mat-icon>folder_zip</mat-icon>
            </button>
            <button mat-icon-button (click)="copyToClipboard($event)" title="クリップボードにコピー">
                <mat-icon>content_copy</mat-icon>
            </button>
             -->
            <button mat-icon-button (click)="setEdit($event)" [title]="vm.messageGroup.messages[0].editing?'保存':'編集'">
                @if(vm.messageGroup.messages[0].editing){
                <mat-icon>check_circle</mat-icon>
                }@else{
                <mat-icon>edit</mat-icon>
                }
            </button>
            <button mat-icon-button (click)="removeThread($event)" style="margin-right: 10px;"
                [ngClass]="{invisible: !removable()}" title="スレッドを削除">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel-header>
    <div class="flex flex-col gap-10">
        <fieldset>
            <legend>システムプロンプト</legend>
            <div class="flex flex-col w-full">
                @for (message of vm.messageGroup.messages; track $index;let mIndex=$index) {
                <div class="w-full relative overflow-hidden" [ngClass]="{'message-notediting': !message.editing}">
                    <!-- ファイル -->
                    @if(message.contents.length>1){
                    <div class="flex justify-start gap-2 w-full p-5 mb-5 overflow-x-auto">
                        @for(content of message.contents; track $index) {
                        @if(content.type==='text') {
                        } @else if(content.type==='error') {
                        } @else {
                        <app-doc-tag [content]="content" (remove)="message.cacheId||removeDoc(content)"></app-doc-tag>
                        }
                        }
                    </div>
                    }

                    <!-- メッセージ -->
                    @for(content of message.contents; track $index;let cIndex=$index){
                    @let brackets = bracketsList[mIndex] ? (bracketsList[mIndex][cIndex] || blankBracket) :
                    blankBracket;
                    @if(content.type==='text'){
                    <div class="chat-input" [hidden]="!message.editing">
                        <textarea #textAreaElem [hidden]="!message.editing" (keydown)="onKeyDown($event)"
                            (blur)="onBlur($event)" (load)="onLoad()" [ngStyle]="{height:height}"
                            [placeholder]="'メッセージを入力...'" [(ngModel)]="content.text" (change)="onSubmit()"></textarea>
                    </div>
                    <div class="custom-scroll" style="display: block;overflow: auto;"
                        [ngClass]="[vm.messageGroup.role==='assistant'&&layout()==='grid'?'grid-panel':'flex-panel']"
                        #textBodyElem>
                        <markdown [hidden]="message.editing" katex mermaid clipboard
                            [data]="brackets.pre+content.text+brackets.post">
                        </markdown>
                    </div>
                    }@else if(content.type==='error'){
                    <div class="text-red-500 overflow-auto">
                        <div>ERROR</div>
                        {{content.text}}
                    </div>
                    }@else{
                    <!-- text 以外はファイル -->
                    }
                    }

                    <!-- Loading -->
                    @if (message.status === 'Loading') {
                    <!-- アニメーションつけるかどうか [@fadeAnimation] -->
                    <div class="absolute inset-0 flex items-center justify-center bg-black/25">
                        <mat-spinner style="transform: scale(0.4);"></mat-spinner>
                    </div>
                    }
                </div>
                }
            </div>
        </fieldset>
        <fieldset>
            <legend>ツール使用設定</legend>
            <mat-radio-group [(ngModel)]="vm.thread.inDto.args.tool_choice" (change)="threadChange()">

                @for(tool_choice of ['none', 'auto', 'required'];track $index) {
                <mat-radio-button [value]="tool_choice" class="" color="primary">
                    [{{tool_choice}}] {{toolChoiceMapper[tool_choice].label}}
                </mat-radio-button>
                }
            </mat-radio-group>
        </fieldset>
        <fieldset>
            <legend>ツール一覧</legend>
            <!-- <mat-checkbox [(ngModel)]="vm.thread.inDto.args.isGoogleSearch">Google検索</mat-checkbox> -->
            <!-- @for(groupDef of this.toolCallService.tools;track $index) {
            <div>
                <mat-checkbox [(ngModel)]="toolCheckMas[groupDef.group]"
                    (change)="toolGroupCheck($event, groupDef.tools)"
                    [(indeterminate)]="toolCheckMas[groupDef.group+':indeterminate']"
                    [disabled]="!vm.thread.inDto.args.tool_choice||vm.thread.inDto.args.tool_choice==='none'">
                    {{groupDef.group}}
                </mat-checkbox>
                @for(tool of groupDef.tools;track $index) {
                <div style="padding-left: 40px;">
                    <mat-checkbox [checked]="isChecked(tool)" (change)="toolCheck($event, tool)"
                        [disabled]="!vm.thread.inDto.args.tool_choice||vm.thread.inDto.args.tool_choice==='none'">
                        [{{tool.info.name}}] {{tool.info.label}}
                    </mat-checkbox>
                </div>
                }
            </div>
            }
            -->

            <mat-accordion class="accordion custom-scroll"
                style="min-width: 0;width: 330px;height: calc(100vh - 100px);overflow-y: scroll;"
                [ngClass]="{'disabled': !vm.thread.inDto.args.tool_choice||vm.thread.inDto.args.tool_choice==='none'}">
                @for(groupDef of this.toolCallService.tools;track $index) {
                <mat-expansion-panel
                    [disabled]="!vm.thread.inDto.args.tool_choice||vm.thread.inDto.args.tool_choice==='none'">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="width: 100%;">
                            <div style="width: 100%;display: flex;justify-content: left;align-items: center;gap: 20px;">
                                <mat-icon class="group-check" (click)="toolGroupClick($event, groupDef)"
                                    [ngClass]="{'group-check-checked': toolGroupCheckMas[groupDef.group]===2, 'group-check-bar': toolGroupCheckMas[groupDef.group]===1}">
                                    {{['','remove','check'][toolGroupCheckMas[groupDef.group]]}}
                                </mat-icon>
                                <img [src]="'./image/'+groupDef.group.split('-')[0]+'-logo.svg'" alt="icon"
                                    class="w-8 h-8" style="min-width: 30px;">
                                {{providerMas[groupDef.group]?providerMas[groupDef.group].label:groupDef.group}}
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="grid-container">
                        @for(tool of groupDef.tools;track $index) {
                        <div class="channel cursor-pointer">
                            <!-- [{{tool.info.name}}] {{tool.info.label}} -->
                            <!-- [(ngModel)]="toolCheckMas[tool.info.group+':'+tool.info.name]" -->
                            <mat-checkbox [checked]="isChecked(tool)" (change)="toolCheck($event, tool)"
                                [disabled]="!vm.thread.inDto.args.tool_choice||vm.thread.inDto.args.tool_choice==='none'">
                                [{{tool.info.name}}] {{tool.info.label}}
                            </mat-checkbox>
                        </div>
                        }
                    </div>
                </mat-expansion-panel>

                }
            </mat-accordion>
            ※ツール使用には事前にAPI連携の登録が必要です。右上の〇からAPI鍵を登録してください。
        </fieldset>
    </div>
</mat-expansion-panel>
} @else {
{{vm.messageGroup.messages.length}}
<!-- {{messageGroup.selectedIndex}} -->
}
}
<!-- <div class="chat-messages"></div> -->