:host {
    display: block;
    padding: 20px;
    text-align: center;
    height: calc(100vh - 100px);
}

h3 {
    text-wrap: unset;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.content {
    height: calc(100vh - 300px);
    max-height: calc(100vh - 200px);
    margin: auto;
    text-align: left;
}

::ng-deep {

    markdown {
        &>div {
            height: 100%;
        }

        code[class*=language-],
        pre[class*=language-] {
            height: 100%;
        }
    }
}