:host {
    position: relative;
}

.chat-item {
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

.input-area {
    background-color: var(--plain-background);
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--plain-color);
    padding: 1rem;
    font-size: 1rem;
    resize: vertical;
}

.button-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}

.panel {
    background-color: var(--plain-background);
    color: var(--plain-color);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.panel:hover {
    background-color: var(--plain-background-hover);
    /* color: rgb(105 184 205); */
    background-color: rgb(55, 97, 107);
    background-color: var(--mat-sys-primary-fixed);
}

.banner {
    background-color: var(--plain-background);
    color: var(--plain-color);
    padding: 1rem 1.5rem;
    border-radius: 6px;
}

.banner h2 {
    margin-top: 0;
    font-size: 1.2rem;
}

.model-select {
    width: auto;
    padding: 10px;
    background-color: var(--plain-background);
    cursor: pointer;

    option {
        line-height: 30px;
        padding: 10px;
    }
}

.recent-chats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.chat-item {
    /* background-color: #2b2b2b; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: left;
}

.chat-item h3 {
    font-size: 1.1rem;
}

.chat-item p {
    font-size: 0.9rem;
    color: #b0b0b0;
}

h1 {
    display: inline-block;
    margin-top: 1.25em;
}

mat-icon.arrow {
    font-size: 17px;
    height: auto;
    line-height: 13px;
}

.drop-zone.hovered {
    opacity: 0.5;

    .drop-message {
        display: block;
    }
}