:host {
    padding: 20px;
}

.container {
    max-width: 750px;
    width: 750px;
    margin: auto;
    padding: 20px;
}

.parameter-group {
    margin: 15px 0 0 0;
}

input {
    background-color: var(--plain-background);
    text-align: right;
}

input:disabled {
    background-color: var(--plain-background-area);
    color: var(--plain-color-area);
}