@if(viewModel(); as vm){
@if(vm.messageGroup && vm.messageGroup.messages && vm.messageGroup.messages.length>0 && message){
<mat-expansion-panel class="message"
  [ngClass]="[vm.messageGroup.messages[0].cacheId?'cached':'', vm.messageGroup.role, exPanel.expanded?'expanded':'closed']"
  #exPanel [expanded]="vm.messageGroup.isExpanded" (opened)="loadContent().subscribe()"
  (expandedChange)="expandedEmitter.emit($event)">
  <mat-expansion-panel-header class="message-header message-header-message">
    <mat-panel-title class="message-title" style="font-weight: normal;">
      <!-- {{message.role}} -->
      @if(vm.messageGroup.role==='system'){
      {{vm.messageGroup.role}}
      } @else if(vm.messageGroup.messages[0].cacheId){
      キャッシュ
      } @else {
      <select [(ngModel)]="vm.messageGroup.role" (click)="stopPropagation($event)">
        <option value="user">user</option>
        <option value="assistant">assistant</option>
      </select>
      }
      <!-- @if(vm.messageGroup.role==='assistant'){
      <span
        style="white-space: nowrap;word-break: keep-all;margin-left: 10px;position: absolute;top:-2px;left:24px;font-size:12px;">
        by {{vm.messageGroup.source}}
      </span>
      } -->
    </mat-panel-title>
    <mat-panel-description>
      <div class="truncate">{{vm.messageGroup.messages[0].label}}</div>
    </mat-panel-description>
    <ng-container *ngTemplateOutlet="controller; context: {exPanel: exPanel, position: 'top'}"></ng-container>
  </mat-expansion-panel-header>

  <div class="flex w-full gap-2">
    <!-- <div class="flex flex-col gap-2">
      @for(_ of vm.messageGroup.messages.keys();track $index){
      <button mat-raised-button (click)="setMessageIndex($index)">{{$index+1}}</button>
      }
    </div> -->

    @if(vm.messageGroup.messages.length>1){
    <div>
      <mat-button-toggle-group [value]="mIndex" (change)="setMessageIndex($event.value)" class="min-w-8"
        style="border-radius: 4px;" vertical hideSingleSelectionIndicator>
        @for(_ of vm.messageGroup.messages.keys();track $index){
        <mat-button-toggle [value]="$index" [ngClass]="{'selected': $index===mIndex}">{{$index+1}}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
    }

    <div class="flex-grow w-0 relative custom-scroll overflow-auto" [ngClass]="{'message-notediting': !message.editing}"
      [ngClass]="[vm.messageGroup.role==='assistant'&&layout()==='grid'?'grid-panel':'flex-panel', !message.editing ? 'message-notediting' : '']">

      <!-- ファイル -->
      <!--
      @if(message.contents.length>1){
      <div class="flex justify-start gap-2 w-full p-5 mb-5 overflow-x-auto">
          @for(content of message.contents; track $index){
          @if(content.type==='text'){
          }@else if(content.type==='error'){
          }@else{
          <app-doc-tag [removable]="false" [content]="content"
              (remove)="message.cacheId||removeDoc(content)"></app-doc-tag>
          }
          }
      </div>
      }
      -->

      <!-- メッセージ -->
      @for(content of message.contents; track $index ; let cIndex=$index){
      @let brackets = bracketsList[mIndex] ? (bracketsList[mIndex][cIndex] || blankBracket) : blankBracket;
      @if(content.type==='text'){
      <div class="chat-input" [hidden]="!message.editing">
        <textarea #textAreaElem [hidden]="!message.editing" (keydown)="onKeyDown($event)" (blur)="onBlur($event)"
          (load)="onLoad()" [ngStyle]="{height:height}" [placeholder]="'メッセージを入力...'" [(ngModel)]="content.text"
          (change)="onSubmit()"></textarea>
      </div>
      <div #textBodyElem>
        @if (['Waiting'].includes(message.status)) {
        <div class="waiting-text">Waiting...</div>
        } @else if (message){
        <markdown #mdElem [hidden]="message.editing" katex mermaid clipboard (load)="onReady($event, 'onLoaded')"
          (ready)="onReady($event, 'onReady')" [data]="brackets.pre+content.text+brackets.post">
        </markdown>
        }
      </div>
      } @else if(content.type==='error') {
      <div class="text-red-500 overflow-auto">
        <div>ERROR</div>
        {{content.id}}
        <markdown katex mermaid clipboard [data]="brackets.pre+content.text+brackets.post"></markdown>
      </div>
      } @else if(content.type==='file') {
      <!-- text 以外はファイル -->
      <!-- ファイル表示のグループ化 -->
      @if($index === 0 || message.contents[$index - 1].type !== content.type){
      <div class="flex justify-start gap-2 w-full p-5 mb-5 overflow-x-auto">
        @for(fileContent of getConsecutiveFiles(message.contents, $index); track fileContent.id){
        <app-doc-tag [removable]="false" [content]="fileContent" (updated)="fileSelectionUpdate()"
          (remove)="message.cacheId||removeDoc(fileContent)">
        </app-doc-tag>
        }
      </div>
      } @else {<!-- 最初の1個からループを掛けるのでここに来ることはない -->}
      } @else if(content.type==='tool') {

      <div class="inline-flex items-center flex-wrap gap-2">

        @for(toolCallSet of jsonParseToArray(content.text||'[]');track $index){
        @if(toolCallSet.info){
        @let info = toolCallSet.info;
        @let isRunning = info.isRunning && !info.isInteractive;
        <button class="flex items-center command-tag cursor-pointer relative overflow-hidden"
          (click)="openToolCallDialog($event, toolCallSet)">
          <img [src]="'image/'+info.group.split('-')[0]+'-logo.svg'" style="width: 32px;" />
          <div class="flex flex-col items-start">
            <div>[{{info.name}}]</div>
            <div>{{info.label}}</div>
          </div>
          @if(isRunning){
          <div class="absolute inset-0 flex items-center justify-center bg-black/25 z-10 rounded-xl">
            <mat-spinner style="transform: scale(0.4);"></mat-spinner>
          </div>
          }
        </button>
        } @else {
        <!-- TODO infoが無いのはおかしいのでこの判定は本来不用なはずだが、とりあえず今は暫定でこうしておく。なんかエラーの時にresultが独立して飛んできてしまっているのがいけないようではあるがなぜsresultが独立してしまったのかは分からない。 -->
        <!-- {{toolCallSet|json}} -->
        }
        }

        <!-- @if(content.text; as info && info.isInteractive){
        <button mat-icon-button (click)="toolExec($event, content)" title="実行">
          <mat-icon>{{content.meta.input?'refresh':'play_arrow'}}</mat-icon>
        </button>
        } -->
      </div>

      } @else if(content.type==='meta' && content.meta) {

      @if(content.meta.groundingMetadata && content.meta.groundingMetadata.searchEntryPoint?.renderedContent){
      <div class="p-3 rounded-md quote-area">
        参考リンク
        <ol class="list-decimal pl-10 py-2">
          @for(chunk of content.meta.groundingMetadata.groundingChunks||[];track $index){
          @if(chunk.web){
          <li>
            <a target="_blank" [href]="chunk.web.uri" class="flex">{{chunk.web.title}}
              <mat-icon class="text-lg">open_in_new</mat-icon>
            </a>
          </li>
          }
          }
        </ol>
        <div [innerHTML]="content.meta.groundingMetadata.searchEntryPoint?.renderedContent"></div>
      </div>
      } @else if(content.meta.thinking) {
      <mat-expansion-panel class="mb-5">
        <mat-expansion-panel-header>
          <mat-panel-title class="message-title" style="font-weight: normal;">思考</mat-panel-title>
          <mat-panel-description>
            <div class="truncate">{{content.meta.thinking}}</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="p-3 rounded-md quote-area">
          <markdown [hidden]="message.editing" katex mermaid clipboard [data]="content.meta.thinking"></markdown>
        </div>
      </mat-expansion-panel>
      <div class="h-3"></div>
      }

      } @else {<!-- text/error/file以外は無いのでここに来ることはない -->}

      }

      @if(isInteractive()){
      <div class="w-full">
        <div class="my-2">
          このコマンドを実行してもよろしいですか？
        </div>
        <div class="flex my-2 gap-6">
          <button class="w-56" mat-raised-button
            (click)="toolExec($event, true, vm.messageGroup.messages.at(-1)?.contents?.at(-1))" title="実行">
            <mat-icon>play_arrow</mat-icon>
            実行
          </button>
          <button class="w-56" mat-raised-button
            (click)="toolExec($event, false, vm.messageGroup.messages.at(-1)?.contents?.at(-1))" title="キャンセル"
            style="color: #000;background-color: #777;">
            <mat-icon>cancel</mat-icon>
            キャンセル
          </button>
        </div>
      </div>
      } @else {}

      @if(message.status==='Loading'){
      <div class="waiting-text">Writting...</div>
      }

    </div>
  </div>

  <!-- Loading -->
  <!-- アニメーションつけるかどうか [@fadeAnimation] -->
  <!-- 
  @if (['Waiting'].includes(message.status)) {
  <div class="absolute inset-0 flex items-center justify-center bg-black/25 z-10">
    <mat-spinner style="transform: scale(0.4);"></mat-spinner>
  </div>
  }
  -->
  @if (!vm.messageGroup.messages[mIndex].editing) {
  <ng-container *ngTemplateOutlet="controller; context: {exPanel: exPanel, position: 'bottom'}"></ng-container>
  }

  @if(vm.messageGroup.role==='assistant' && vm.messageGroup.source){
  <div class="ml-2 mt-2 align-middle text-xs whitespace-nowrap" style="color: #908070;height: 0px;margin: 5px 0;">
    <!-- #BFAE9D -->
    by {{ vm.messageGroup.source }}
  </div>
  }
</mat-expansion-panel>
} @else {
{{vm.messageGroup.messages.length}}
}

<ng-template #controller let-exPanel="exPanel" let-position="position">
  <div class="right-0 top-0 flex gap-2" style="padding-right: 0;"
    [ngClass]="{'controller-bottom': position==='bottom', 'controller-bottom--hide': !exPanel.expanded && position==='bottom'}">
    <!-- style="right: 0;top: 0;display: flex;gap: 10px;padding: 10px;"  -->
    @if(vm.messageGroup.type) {
    <!-- 並列実行（バッチを想定） -->
    }@else if(vm.messageGroup.type==='Regenerated' && vm.messageGroup.messages.length>1) {
    <!-- 再ラン -->
    @for(message of vm.messageGroup.messages; track $index){
    {{$index}},
    }
    }@else {
    <!-- @if(messageGroup.type==='Single') { } -->
    }

    <button mat-icon-button (click)="downloadContent($event)" title="zipダウンロード（コードブロックのみ）"
      [ngStyle]="{visibility: vm.messageGroup.role==='assistant'?'visible':'hidden'}">
      <mat-icon>folder_zip</mat-icon>
    </button>
    <button mat-icon-button (click)="copyToClipboard($event)" title="クリップボードにコピー">
      <mat-icon>content_copy</mat-icon>
    </button>

    @if(vm.messageGroup.role==='assistant') {
    <button mat-icon-button (click)="onZoom($event)" title="拡大表示">
      <mat-icon>pan_zoom</mat-icon>
    </button>
    } @else {
    <button mat-icon-button (click)="setEdit($event)" [title]="vm.messageGroup.messages[0].editing?'保存':'編集'"
      [ngStyle]="{visibility: vm.messageGroup.messages[0].cacheId?'hidden':'visible'}">
      @if(vm.messageGroup.messages[0].editing){
      <mat-icon>check_circle</mat-icon>
      }@else{
      <mat-icon>edit</mat-icon>
      }
    </button>
    }

    @if(vm.messageGroup.messages[0].cacheId || vm.messageGroup.role==='system'){
    <button mat-icon-button style="margin-right: 10px;visibility: hidden;"><mat-icon>close</mat-icon></button>
    } @else if(vm.messageGroup.role==='user'){
    <button mat-icon-button (click)="remove($event)" title="削除" style="margin-right: 10px;">
      <mat-icon>close</mat-icon>
    </button>
    } @else if(vm.messageGroup.role==='assistant'){
    @if(['Waiting','Loading'].includes(vm.messageGroup.messages[mIndex].status)){
    <button mat-icon-button (click)="cancel($event)" title="キャンセル" style="margin-right: 10px;">
      <mat-icon>cancel</mat-icon>
    </button>
    } @else {
    <button mat-icon-button (click)="remove($event)" title="リトライ" style="margin-right: 10px;">
      <mat-icon>refresh</mat-icon>
    </button>
    }
    } @else { }

    <!-- 'margin-right': position === 'bottom' ? '-6px' : '10px' -->
    @if(position==='bottom'){
    <button mat-icon-button (click)="exPanel.close()" title="閉じる" style="margin-left: -17px"
      [ngStyle]="{visibility: vm.messageGroup.role==='assistant'?'visible':'hidden'}">
      <mat-icon>{{exPanel.opened ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
    </button>
    }
  </div>
</ng-template>
}