@if(messageGroup() && messageGroup().messages && messageGroup().messages.length>0){
<mat-expansion-panel class="message"
  [ngClass]="[messageGroup().messages[0].cacheId?'cached':'', messageGroup().role, exPanel.expanded?'expanded':'closed']"
  #exPanel [expanded]="messageGroup().isExpanded" (opened)="loadContent().subscribe()"
  (expandedChange)="expandedEmitter.emit($event)">
  <mat-expansion-panel-header class="message-header message-header-message">
    <mat-panel-title class="message-title" style="font-weight: normal;">
      <!-- {{message.role}} -->
      @if(messageGroup().role==='system'){
      {{messageGroup().role}}
      } @else if(messageGroup().messages[0].cacheId){
      キャッシュ
      } @else {
      <select [(ngModel)]="messageGroup().role" (click)="stopPropagation($event)">
        <option value="user">user</option>
        <option value="assistant">assistant</option>
      </select>
      }
    </mat-panel-title>
    <mat-panel-description>
      <div class="truncate">{{messageGroup().messages[0].label}}</div>
    </mat-panel-description>
    <ng-container *ngTemplateOutlet="controller; context: {exPanel: exPanel, position: 'top'}"></ng-container>
  </mat-expansion-panel-header>

  <div class="flex w-full gap-2">
    <!-- <div class="flex flex-col gap-2">
      @for(_ of messageGroup().messages.keys();track $index){
      <button mat-raised-button (click)="setMessageIndex($index)">{{$index+1}}</button>
      }
    </div> -->

    @if(messageGroup().messages.length>1){
    <div>
      <mat-button-toggle-group [value]="mIndex" (change)="setMessageIndex($event.value)" class="min-w-8"
        style="border-radius: 4px;" vertical hideSingleSelectionIndicator>
        @for(_ of messageGroup().messages.keys();track $index){
        <mat-button-toggle [value]="$index" [ngClass]="{'selected': $index===mIndex}">{{$index+1}}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </div>
    }

    <div class="flex-grow w-0 relative custom-scroll overflow-auto" [ngClass]="{'message-notediting': !message.editing}"
      [ngClass]="[messageGroup().role==='assistant'&&layout()==='grid'?'grid-panel':'flex-panel', !message.editing ? 'message-notediting' : '']">

      <!-- ファイル -->
      <!--
      @if(message.contents.length>1){
      <div class="flex justify-start gap-2 w-full p-5 mb-5 overflow-x-auto">
          @for(content of message.contents; track $index){
          @if(content.type==='text'){
          }@else if(content.type==='error'){
          }@else{
          <app-doc-tag [removable]="false" [content]="content"
              (remove)="message.cacheId||removeDoc(content)"></app-doc-tag>
          }
          }
      </div>
      }
      -->

      <!-- メッセージ -->
      @for(content of message.contents; track $index ; let cIndex=$index){
      @let brackets = bracketsList[mIndex] ? (bracketsList[mIndex][cIndex] || blankBracket) : blankBracket;
      @if(content.type==='text'){
      <div class="chat-input" [hidden]="!message.editing">
        <textarea #textAreaElem [hidden]="!message.editing" (keydown)="onKeyDown($event)" (blur)="onBlur($event)"
          (load)="onLoad()" [ngStyle]="{height:height}" [placeholder]="'メッセージを入力...'" [(ngModel)]="content.text"
          (change)="onSubmit()"></textarea>
      </div>
      <div #textBodyElem>
        <markdown #mdElem [hidden]="message.editing" katex mermaid clipboard (load)="onReady($event, 'onLoaded')"
          (ready)="onReady($event, 'onReady')" [data]="brackets.pre+content.text+brackets.post">
        </markdown>
      </div>
      } @else if(content.type==='error') {
      <div class="text-red-500 overflow-auto">
        <div>ERROR</div>
        <markdown katex mermaid clipboard [data]="brackets.pre+content.text+brackets.post"></markdown>
      </div>
      } @else if(content.type==='file') {
      <!-- text 以外はファイル -->
      <!-- ファイル表示のグループ化 -->
      @if($index === 0 || message.contents[$index - 1].type !== content.type){
      <div class="flex justify-start gap-2 w-full p-5 mb-5 overflow-x-auto">
        @for(fileContent of getConsecutiveFiles(message.contents, $index); track fileContent.id){
        <app-doc-tag [removable]="false" [content]="fileContent" (updated)="fileSelectionUpdate()"
          (remove)="message.cacheId||removeDoc(fileContent)">
        </app-doc-tag>
        }
      </div>
      } @else {<!-- 最初の1個からループを掛けるのでここに来ることはない -->}
      } @else if(content.type==='tool') {

      <div class="inline-flex items-center flex-wrap gap-2">

        @for(toolCallSet of jsonParseToArray(content.text||'[]');track $index){

        @if(toolCallSet.info){
        <button class="flex items-center command-tag cursor-pointer relative"
          (click)="openToolCallDialog($event, toolCallSet)">
          <img [src]="'image/'+toolCallSet.info.group.split('-')[0]+'-logo.svg'" style="width: 32px;" />
          <div class="flex flex-col items-start">
            <div>[{{toolCallSet.info.name}}]</div>
            <div>{{toolCallSet.info.label}}</div>
          </div>

          @if(toolCallSet.info.isRunning){
          <div class="absolute inset-0 flex items-center justify-center bg-black/25 z-10 rounded-sm">
            <mat-spinner style="transform: scale(0.4);"></mat-spinner>
          </div>
          }

        </button>
        } @else {
        <!-- TODO infoが無いのはおかしいのでこの判定は本来不用なはずだが、とりあえず今は暫定でこうしておく。なんかエラーの時にresultが独立して飛んできてしまっているのがいけないようではあるがなぜsresultが独立してしまったのかは分からない。 -->
        <!-- {{toolCallSet|json}} -->
        }
        }

        <!-- @if(content.text; as info && info.isInteractive){
        <button mat-icon-button (click)="toolExec($event, content)" title="実行">
          <mat-icon>{{content.meta.input?'refresh':'play_arrow'}}</mat-icon>
        </button>
        } -->
      </div>

      } @else if(content.type==='meta') {

      @if(content.meta.groundingMetadata && content.meta.groundingMetadata.searchEntryPoint?.renderedContent){
      <div class="p-3 rounded-md" style="background-color: #333;">
        参考リンク
        <ol class="list-decimal pl-10 py-2">
          @for(chunk of content.meta.groundingMetadata.groundingChunks||[];track $index){
          @if(chunk.web){
          <li>
            <a target="_blank" [href]="chunk.web.uri" class="flex">{{chunk.web.title}}
              <mat-icon class="text-lg">open_in_new</mat-icon>
            </a>
          </li>
          }
          }
        </ol>
        <div [innerHTML]="content.meta.groundingMetadata.searchEntryPoint?.renderedContent"></div>
      </div>
      }

      } @else {<!-- text/error/file以外は無いのでここに来ることはない -->}

      }

      @if(isInteractive()){
      <div class="w-full h-full">
        <div class="my-2">このコマンドを実行してもよろしいですか？</div>
        <div class="flex my-2 gap-6">
          <button class="w-56" mat-raised-button
            (click)="toolExec($event, true, messageGroup().messages.at(-1)?.contents?.at(-1))" title="実行" style="">
            <mat-icon>play_arrow</mat-icon>
            実行
          </button>
          <button class="w-56" mat-raised-button
            (click)="toolExec($event, false, messageGroup().messages.at(-1)?.contents?.at(-1))" title="キャンセル"
            style="color: #000;background-color: #777;">
            <mat-icon>cancel</mat-icon>
            キャンセル
          </button>
        </div>
      </div>
      } @else {}

    </div>
  </div>

  <!-- Loading -->
  <!-- アニメーションつけるかどうか [@fadeAnimation] -->
  @if (messageGroup().messages[mIndex].status === 'Waiting') {
  <div class="absolute inset-0 flex items-center justify-center bg-black/25 z-10">
    <mat-spinner style="transform: scale(0.4);"></mat-spinner>
  </div>
  }
  @if (!messageGroup().messages[mIndex].editing) {
  <ng-container *ngTemplateOutlet="controller; context: {exPanel: exPanel, position: 'bottom'}"></ng-container>
  }
</mat-expansion-panel>
} @else {
{{messageGroup().messages.length}}
}
<ng-template #controller let-exPanel="exPanel" let-position="position">
  <div class="right-0 top-0 flex gap-2" style="padding-right: 0;"
    [ngClass]="{'controller-bottom': position==='bottom', 'controller-bottom--hide': !exPanel.expanded && position==='bottom'}">
    <!-- style="right: 0;top: 0;display: flex;gap: 10px;padding: 10px;"  -->
    @if(messageGroup().type) {
    <!-- 並列実行（バッチを想定） -->
    }@else if(messageGroup().type==='Regenerated' && messageGroup().messages.length>1) {
    <!-- 再ラン -->
    @for(message of messageGroup().messages; track $index){
    {{$index}},
    }
    }@else {
    <!-- @if(messageGroup.type==='Single') { } -->
    }

    <button mat-icon-button (click)="downloadContent($event)" title="zipダウンロード（コードブロックのみ）"
      [ngStyle]="{visibility: messageGroup().role==='assistant'?'visible':'hidden'}">
      <mat-icon>folder_zip</mat-icon>
    </button>
    <button mat-icon-button (click)="copyToClipboard($event)" title="クリップボードにコピー">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button (click)="setEdit($event)" [title]="messageGroup().messages[0].editing?'保存':'編集'"
      [ngStyle]="{visibility: messageGroup().messages[0].cacheId?'hidden':'visible'}">
      @if(messageGroup().messages[0].editing){
      <mat-icon>check_circle</mat-icon>
      }@else{
      <mat-icon>edit</mat-icon>
      }
    </button>
    <button mat-icon-button (click)="remove($event)" [title]="messageGroup().role==='assistant'?'リトライ':'削除'"
      style="margin-right: 10px;"
      [ngStyle]="{visibility: (messageGroup().messages[0].cacheId || messageGroup().role==='system')?'hidden':'visible'}">
      <mat-icon>@if(messageGroup().role==='assistant'){ refresh }@else{ close }</mat-icon>
    </button>

    <!-- 'margin-right': position === 'bottom' ? '-6px' : '10px' -->
    @if(position==='bottom'){
    <button mat-icon-button (click)="exPanel.close()" title="閉じる" style="margin-left: -17px"
      [ngStyle]="{visibility: messageGroup().role==='assistant'?'visible':'hidden'}">
      <mat-icon>{{exPanel.opened ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
    </button>
    }
  </div>
</ng-template>